/* PC */
@media screen and (min-width: 992px) {
    .toggle-menu {
        display: none;
    }

    .toggle-logo {
        display: none;
    }

    .moblie-header {
        display: none;
    }

    .moblie-toggle {
        display: none;
    }
}


/* Tablet and mobile*/
@media screen and (max-width: 991.98px) {
    .header-nav {
        display: none;
    }

    .header-body {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .header-logo {
        position: absolute;
        top: 10%;
        left: 50%;
        /* transform: translateY(-50%); */
        transform: translateX(-50%);
    }
    
    .toggle-menu {
        cursor: pointer;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transition: 1s;
    }

    .moblie-toggle {
        z-index: 2;
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        transform: translateX(-100%);
        transition: 1s;
        padding-left: 15px;
    }

    .toggle-nav{
        margin-top: 10px;
    }

    .toggle-nav li {
        margin-bottom: 10px;
        font-size: 32px;

        /* background: red; */
        
    }

    .toggle-nav li a {
        /* background: yellow; */
        display: block;
        padding: 10px;
    }

    .toggle-nav li a:hover {
        background: #ececff;
    }

    .menu-checkbox:checked ~ .menu-overlay  {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .moblie-toggle {
        transform: translateX(0);
    }

    .toggle-logo {
        position: relative;
        top: 20px;
        left: 60px;
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
        border: 1px solid #000080;
    }

    
    .footer-body {
        flex-wrap: wrap;
    }

    .footer-column {
        width: 100%;
        margin-bottom: 20px;
    }
       
} 

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 990.98px){
    .product-featured .featured-body {
        flex-wrap: wrap;
    }

    .product-featured .featured-item {
        width: 48%;
    }
  
    .product-body {
        flex-wrap: wrap;
    }

    .product {
        width: 48%;
        margin-bottom: 20px;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .product-featured .featured-body {
        /* flex-wrap: wrap;
        padding: 30px 20px; */
        display: block;
        padding: 10px;
        border: none;
    }

    .product-featured .featured-item {
        width: 100%;
        height: 150px;
        display: flex;
        margin-bottom: 10px;
        justify-content: space-between;
    }

    .featured-item a {
        width: 40%;
    }

    .featured-item img {
        height: 100%;
    }

    .featured-infor {
        width: 58%;
        margin-left: 10px;
    }

    .product-featured .featured-title {
        top: -40px;
    }

    .featured-title {
        min-width: 200px;
    }

    .featured-item .name {
        font-size: 24px;
        width: 100%;
        /* background: red; */
    }

    .featured-item .price {
        font-size: 22px;
    }

    .featured-rate {
        display: none;
    }

    .featured-infor svg {
        position: absolute;
        top: 110px;
        right: 15px;
    }


    /* Cacs danh mucj */
    .product-body {
        display: block;
    }

    .product {
        width: 100%;
        display: flex;
        position: relative;
        margin-bottom: 10px;
    }

    .product-link {
        width: 40%;
    }

    .product-img {
        height: 100%;
    }

    .product-infor {
        margin-left: 10px;
    }

    .product-name {
        font-size: 24px;
    }

    .product-infor_priceandrate {
        display: block;
    }

    .product-action {
        bottom: 10px;
        right: 5px;
        padding: 8px;
        width: 180px;
        position: absolute;
    }

    .product-rate {
        margin-top: 5px;
    }
}