*, ::after, ::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    font-size: 1.6rem;
    /* background: #000080; */
    /* min-height: 2000px; */
}

.main-content {
    width: 90%;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 80px;
    background: #000080;
}

.header.fixed {
    top: 0;
    position: sticky;
    z-index: 1;
}

.header-body {
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 10px 0;
    display: flex;
    position: relative;
}

.header-logo {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    margin-left: auto;
}

.header-nav {
    margin-left: 100px;
    width: calc(95% - 60px);
}

.header-nav .list{
    display: flex;
}

.header-nav .list > li {
    padding: 17px 0;
    margin-right: 40px;
    transition: .25s;
    text-align: center;
    min-width: 150px;
    transition: .25s;
    /* background: yellow; */
    transition: .25s;
}

.header-nav .list li:hover .submenu {
    display: inline;
}

.submenu {
    left: 0;
    top: 69px;
    width: 100%;
    position: absolute;
    display: none;
    padding: 20px 0;
    /* background: yellow; */
    transition: .25s;
}

.submenu-inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 10px solid #000080;
    border-radius: 4px;
    background: #fff;
    padding: 10px 10px;
}

.submenu-inner li {
    width: 100%;
}

.submenu-inner > li > a {
    color: #000080;
    display: block;
    /* background: red; */
    text-align: left;
}

.submenu-inner > li > a:hover {
    text-decoration: underline;
}

.megamenu > li > a{
    /* background: yellow; */
    display: block;
    text-align: left;
    margin: 10px 0;
    /* padding-left: 50px; */
    font-size: 18px;
    color: black;
}

.megamenu > li > a:hover {
    text-decoration: underline;
}

.header-cart {
    color: #fff;
    display: flex;
    width: 5%;
    justify-content: flex-end;
    transition: .25s;
    position: relative;
    margin-right: 30px;
}

.header-cart:hover {
    color: #ccc;
}

.header-cart_quantity {
    top: -5px;
    right: -10px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 20px;
    background: red;
    position: absolute;
}

/* -------------------------------------------------------------------------------------------- */
/* Hero */
.hero {
    height: calc(100vh - 80px);
    padding: 50px 0 20px 0;
}

.hero-body {
     display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.hero-content {
    width: 35%;
}

.hero-title {
    color: #000080;
    font-weight: 600;
    font-size: 58px;
}

.hero-desc {
    font-size: 22px;
    margin-bottom: 30px;
}

.hero-btn a {
    border-radius: 8px;
    width: 100%;
    padding: 20px;
    display: inline;
    background: #000080;
}

.hero-banner {
    width: 65%;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}

.hero-list {
    display: flex;
    width: 100%;
    transform: translateX();
    /* background: red; */
    transition: 1.25s;
    border-radius: 8px;

}

.hero-slide {
    cursor: pointer;
    width: 100%;
    height: 500px;
    /* border-radius: 8px; */
    flex-shrink: 0;
}

.hero-arrow {
    position: absolute;
    transform: translateY(-50%);
    cursor: pointer;
    color: #000080;
    transition: .25s;
}

.hero-arrow:hover {
    color: #fff;
}

.left {
    top: 50%;
    
}

.right {
    top: 50%;
    right: 0;
}

.index-images {
    position: absolute;
    bottom: 10px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}

.index-item {
    border: 2px solid #000080;
    padding: 5px;
    margin: 3px;
    border-radius: 50%;
}

.active {
    background-color: #000080;
}

/* -------------------------------------------------------------------------------------------- */
/* Featured */
.featured {
    background: #ececff;
    padding: 50px 0 100px 0;
}

.featured .name {
    font-weight: bold;
    color: #000080;
    font-size: 32px;
}

.featured .price {
    font-weight: bold;
}


.title {
    text-align: center;
    font-weight: 600;
    font-size: 38px;
    color: #000080;
}

.featured-body {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}

.product {
    /* width: 23%; */
    /* min-height: 360px; */
    border: 1px solid #000080;
    border-radius: 8px;
    /* overflow: hidden; */
    transition: .25s;
    padding: 10px;
}

.product-infor_priceandrate {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.product-rate {
    display: flex;
    color: orange;

}

.product-rate svg {
    margin-left: 5px;
}

.featured-item {
    width: 23%;
    transition: .25s;
    position: relative;
    background: #fff;
    margin-bottom: 20px;
}

.featured-item:hover {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}

.featured-img {
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
    height: 83%;   
    border: 1px solid black;
}

.featured-infor {
    padding: 5px;
}

.product-price {
    /* color: orange; */
    font-weight: bold;
    /* text-align: right; */
}

.featured-rate {
    background: red;
    color: #fff;
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 10px;
    border-radius: 4px;
}

.featured-priceandadd svg{
    /* background: #000080; */
    color: #000080;
    cursor: pointer;
}

/* -------------------------------------------------------------------------------------------- */
/* stats */
.stats {
    /* margin-top: 100px; */
    min-height: 300px;
    background: #000080;
}

.stats-body {
    display: flex;
    justify-content: space-between;
}

.stat-item {
    color: #fff;
    text-align: center;
    margin: 100px 0;
}

.numbers {
    font-weight: bold;
    font-size: 48px;
}

/* -------------------------------------------------------------------------------------------- */
/* NEWS */
.news {
    margin: 100px 0;
}

.news-title {
    margin-bottom: 20px;
}

.news-body {
    display: flex;
    justify-content: space-between;
    height: 500px;

    /* background: red; */


}

.new-main {
    width: 59%;
    height: 100%;
    position: relative;


}

.new-main_desc {
    cursor: pointer;
    padding-top: 20px;
    text-align: center;
    min-height: 20%;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
}

.new-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;

}

.news-list {
    width: 40%;
    height: 100%;
}

.new-item {
    display: flex;
    width: 100%;
    height: 32%;
    transition: .25s;
    position: relative;
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #000080;
}

.new-item:hover {
    background: #ececff;
}

.new-item .img{
    width: 30%;
    margin-right: 10px;
}

.new-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 10px;
}

.new-item_infor {
    margin-top: 5px;
}

.new-item_infor-title {
    font-size: 32px;
    color: #000080;
}

.new-item_infor-desc {
    font-size: 18px;
}

/* -------------------------------------------------------------------------------------------- */
/* Support */
.support {
    padding: 50px 0 100px 0;
    background: #ececff;
}

.support-body {
    text-align: center;
    display: flex;
    justify-content: center;
}

.support-body .btn {
    font-weight: bold;
    color: #000080;
    cursor: pointer;
    text-align: center;
    min-width: 300px;
    padding: 10px;
    border-radius: 99px;
    margin-right: 30px;
    border: 2px solid #000080;
    transition: .25s;
}

.support-body .btn:hover {
    background-color: #000080;
    color: #fff;
}


/* -------------------------------------------------------------------------------------------- */
/* Footer */

.footer {
    background: #000080;
    padding: 50px 0 20px 0;
}

.footer-body {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-column {
    width: 23%;
}

.footer-column:first-child {
    padding-right: 20px;
    margin-right: 50px;
}

.footer-column img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.footer-column p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}

.list-contact {
    display: flex;
}

.list-contact svg {
    margin-right: 10px;
}

.footer-title {
    cursor: pointer;
    text-decoration: underline;
    color: #fff;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
}

.footer-list li {
    margin-bottom: 5px;
}

.footer-list li a {
    font-size: 20px;
}

.footer .coppyright {
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
    color: #fff;
}

.footer-body {
    border-bottom: 1px solid #fff;
}